<article class="calendar-card card">
    <div class="calendar-header">
        <button
            type="button"
            (click)="previousMonth()"
        >
            ‹
        </button>
        <strong>
            {{ monthName }} {{ currentYear }}
        </strong>
        <button
            type="button"
            (click)="nextMonth()"
        >
            ›
        </button>
    </div>
    <div class="week-days">
        @for (dia of diasSemana; track dia) {
            <span>{{ dia }}</span>
        }
    </div>
    <div class="calendar-days">
        @for (day of calendarDays; track $index) {
            <span
                [class.empty]="!day.day"
                [class.selected]="isSelected(day)"
                (click)="selectDay(day)"
            >
                {{ day.day }}
            </span>
        }
    </div>
</article>