<button
  class="menu-toggle"
  type="button"
  (click)="toggleMenu()">

  <span [class.open]="menuAberto">❯</span>

</button>

<div
  class="overlay"
  [class.show]="menuAberto"
  (click)="fecharMenuMobile()">
</div>

<header
  class="sidebar"
  [class.open]="menuAberto">

    <div class="sidebar-top">

        <picture class="logo">
            <a routerLink="/">
              <img src="/logos-svg/logo_primary_black.svg" alt="Logo DriveFlow">
            </a>
        </picture>

        <nav class="sidebar-nav">

            <a
              routerLink="/instrutor/dashboard"
              routerLinkActive="active"
              (click)="fecharMenuMobile()">
              Dashboard
            </a>

            <a
              routerLink="/instrutor/agenda"
              routerLinkActive="active"
              (click)="fecharMenuMobile()">
              Agenda
            </a>

            <a
              routerLink="/implementacao"
              routerLinkActive="active"
              (click)="fecharMenuMobile()">
              Aulas
            </a>

            <a
              routerLink="/implementacao"
              routerLinkActive="active"
              (click)="fecharMenuMobile()">
              Alunos
            </a>

            <hr>

            <a
              routerLink="/implementacao"
              routerLinkActive="active"
              (click)="fecharMenuMobile()">
              Notificações
            </a>

            <a
              [routerLink]="['/instrutor/configuracoes']"
              [queryParams]="{ aba: 'documentos' }"
              routerLinkActive="active"
              (click)="fecharMenuMobile()">
              Documentos
            </a>

            <a
              [routerLink]="['/instrutor/configuracoes']"
              [queryParams]="{ aba: 'pessoais' }"
              routerLinkActive="active"
              (click)="fecharMenuMobile()">
              Configurações
            </a>

        </nav>

    </div>

    <div class="sidebar-bottom">
        <div class="card-box">
            <h5>Link de agendamento</h5>
            <p>
              Compartilhe esse link e atraia alunos diretamente para seu perfil
            </p>
            <button type="button" (click)="compartilhar()">
              Copiar link
            </button>
        </div>
        <div class="card-box">
            <h5>Precisa de ajuda?</h5>
            <p>
              Entre em contato conosco em caso de dúvidas
            </p>
            <a routerLink="/implementacao">
              Suporte ao instrutor
            </a>
        </div>
        <button class="logout-btn" type="button" (click)="encerrarSessao()">
            Encerrar sessão
        </button>
    </div>
</header>