<form [formGroup]="form" class="form-container" (ngSubmit)="onSubmit()">
  <div class="header">
    <h2>Dados pessoais</h2>
  </div>
  <!-- FOTO -->
<div class="photo-upload">
  <div class="photo-preview">
    <img *ngIf="photoPreview; else placeholder" [src]="photoPreview" alt="Preview" class="foto-usuario">
    <ng-template #placeholder>
      <div class="placeholder"></div>
    </ng-template>
  </div>

  <!-- input real, escondido -->
  <input type="file" #fileInput accept="image/png, image/jpeg, image/jpg" (change)="onFileSelected($event)" hidden />
  <div class="foto-texto">
    <div class="photo-buttons">
      <button type="button" (click)="fileInput.click()" class="enviar">Enviar foto</button>
      <button type="button" (click)="removePhoto()" class="remover">Remover foto</button>
    </div>
    <p>Use uma imagem clara e de boa qualidade para facilitar a identificação. Formatos aceitos: PNG, JPG e JPEG.</p>
  </div>
</div>

  <!-- CAMPOS -->
  <div class="form-fields">

    <label>Nome completo
      <input type="text" formControlName="nome" placeholder="Insira aqui seu nome">
    </label>

    <label>E-mail
      <input type="email" formControlName="email" placeholder="nome@email.com">
    </label>

    <label class="senha-label">
      Senha
      <div class="senha-wrapper">
        <input type="password" formControlName="senha">
        <button type="button" (click)="resetSenha()">Redefinir senha</button>
      </div>
    </label>

    <label>
      {{ perfil === 'INSTRUTOR' ? 'CNH' : 'CPF' }}
      <input
        type="text"
        formControlName="documento"
        [placeholder]="perfil === 'INSTRUTOR' ? 'Informe sua CNH' : '000.000.000-00'"
        (input)="onDocumentoInput($event)">
    </label>
      <label>Data de nascimento
        <input type="date" formControlName="dataNascimento">
      </label>

      <label>CEP
        <input type="text" formControlName="cep" placeholder="00000-000">
      </label>
    <div class="grid-infos-extras">
      <label class="input-logradouro">Logradouro
        <input type="text" formControlName="logradouro" placeholder="Rua, avenida">
      </label>

      <label>Número
        <input type="text" formControlName="numero" placeholder="000">
      </label>

      <label>Complemento
        <input type="text" formControlName="complemento" placeholder="Apartamento, casa">
      </label>

      <label class="input-bairro">Bairro
        <input type="text" formControlName="bairro" placeholder="Rua, avenida">
      </label>

      <label>Cidade
        <input type="text" formControlName="cidade" placeholder="São Paulo">
      </label>

      <label>Unidade Federativa
        <input type="text" formControlName="uf" placeholder="SP">
      </label>
    </div>
  </div>

  <!-- BOTÕES -->
  <div class="form-actions">
    <button type="button" (click)="descartar()">Descartar alterações</button>
    <button type="submit" class="save-btn">Salvar alterações</button>
  </div>

</form>