<div class="veiculo-card">
  <div class="header">
    <h3>{{ veiculo.marca }} {{ veiculo.modelo }} {{ veiculo.cor }} {{ veiculo.ano }}</h3>
  </div>

  <div class="imagens">
    <div class="foto-principal">
      <img *ngIf="previewImagem" [src]="previewImagem" alt="Foto veículo" />
      <label *ngIf="editMode" class="upload-btn">
        <input type="file" (change)="onFileChange($event)" />
        Alterar foto
      </label>
    </div>
    <div class="outras-fotos">
      <div class="foto-add">
        <span>Adicionar foto</span>
      </div>
      <div class="foto-add">
        <span>Adicionar foto</span>
      </div>
    </div>
  </div>

  <form [formGroup]="veiculoForm" class="form-veiculo">
    <div class="row">
      <div>
        <label>Marca</label>
        <input formControlName="marca" />
      </div>
      <div>
        <label>Versão (Opcional)</label>
        <input formControlName="versao" />
      </div>
    </div>

    <div class="row">
      <div>
        <label>Modelo</label>
        <input formControlName="modelo" />
      </div>
    </div>

    <div class="row">
      <div>
        <label>Cor</label>
        <input formControlName="cor" />
      </div>
      <div>
        <label>Ano</label>
        <input formControlName="ano" type="number" />
      </div>
    </div>

    <div class="row">
      <div>
        <label>Placa</label>
        <input formControlName="placa" />
      </div>
      <div>
        <label>Câmbio</label>
        <input formControlName="cambio" />
      </div>
      <div>
        <label>Categoria</label>
        <input formControlName="categoria" />
      </div>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" formControlName="definidoComoPadrao" />
        Definir como carro para as aulas
      </label>
    </div>

    <div class="acoes">
      <button type="button" class="deletar" (click)="onDeletar()">Deletar veículo</button>
        <button class="editar-btn" (click)="toggleEdit()">
        {{ editMode ? 'Cancelar' : 'Editar veículo' }}
        </button>
    </div>
    
    <button>Descartar alterações</button>
    <button type="button" class="salvar" (click)="onSalvar()" [disabled]="!editMode">Salvar alterações</button>
  </form>

</div>