<div class="escolha-perfil" >
    <input
      type="checkbox"
      id="checkboxPerfil"
      [checked]="isInstrutor"
      (change)="onTipoChange($event)"
    >
    <label for="checkboxPerfil" style="margin: 0; cursor: pointer; font-weight: normal;">
      Quero me cadastrar como  {{ isInstrutor ? 'aluno' : 'instrutor' }}
      <span>></span>
    </label>
  </div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <label>Nome:</label>
  <input type="text" formControlName="nome" placeholder="Seu nome completo ...">

  <label>{{ isInstrutor ? 'CNH' : 'CPF' }}:</label>
<input type="text" formControlName="cpf" maxlength="14"
       (input)="onCpfCnhInput($event)"
       placeholder="Insira somente os números {{ isInstrutor ? 'da sua CNH' : 'do seu CPF' }}">

  <label>E-mail:</label>
  <input type="email" formControlName="email" placeholder="nome@email.com">

  <label>Senha:</label>
  <div class="input-icon">
    <input
      class="input-form"
      [type]="mostrarSenha ? 'text' : 'password'"
      formControlName="senha"
      placeholder="Escolha uma senha segura"
    >
    <span class="icon" (click)="toggleSenha()">
      {{ mostrarSenha ? '🙈' : '👁️' }}
    </span>
  </div>

  <ul class="requisitos">
    <li [class.ok]="temTamanho()">Mínimo de 8 caracteres</li>
    <li [class.ok]="temMaiuscula()">1 letra maiúscula</li>
    <li [class.ok]="temMinuscula()">1 letra minúscula</li>
    <li [class.ok]="temNumero()">1 número</li>
    <li [class.ok]="temEspecial()">1 caractere especial</li>
  </ul>

  <label>Repita a senha:</label>
  <div class="input-icon">
    <input
      class="input-form"
      [type]="mostrarRepetirSenha ? 'text' : 'password'"
      formControlName="confirmarSenha"
      placeholder="Insira a mesma senha"
    >
    <span class="icon" (click)="toggleRepetirSenha()">
      {{ mostrarRepetirSenha ? '🙈' : '👁️' }}
    </span>
  </div>

  <div class="termos">
    <input type="checkbox" formControlName="termos">
    <span>Concordo com os termos</span>
  </div>

  <button type="submit" class="btn-criar" [ngClass]="{ 'btn-instrutor': isInstrutor }" [disabled]="form.invalid">
    Criar conta como {{ isInstrutor ? 'INSTRUTOR' : 'ALUNO' }}
  </button>
</form>
