<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <label>Nome:</label>
  <input type="text" formControlName="nome" placeholder="Seu nome completo ...">

  <label>CPF:</label>
  <input type="text" formControlName="cpf" maxlength="14" placeholder="Insira somente os numeros do seu CPF ...">

  <label>E-mail:</label>
  <input type="email" formControlName="email" placeholder="nome@email.com">

  <label>Senha:</label>
  <div class="input-icon">
    <input type="password" formControlName="senha" placeholder="Escolha uma senha segura">
    <span class="icon">👁️</span>
  </div>

  <ul class="requisitos">
    <li [class.ok]="temTamanho()">Minimo 8 caracteres</li>
    <li [class.ok]="temMaiuscula()">1 letra maiuscula</li>
    <li [class.ok]="temMinuscula()">1 letra minuscula</li>
    <li [class.ok]="temNumero()">numeros</li>
    <li [class.ok]="temEspecial()">Caracteres especiais</li>
  </ul>

  <label>Repita a senha:</label>
  <div class="input-icon">
    <input type="password" placeholder="Insira a mesma senha">
    <span class="icon">👁️</span>
  </div>

  <div class="escolha-perfil" style="margin-bottom: 15px; display: flex; align-items: center; gap: 8px;">
    <input
      type="checkbox"
      id="checkboxPerfil"
      [checked]="isInstrutor"
      (change)="onTipoChange($event)"
    >
    <label for="checkboxPerfil" style="margin: 0; cursor: pointer; font-weight: normal;">
      Quero me cadastrar como Instrutor
    </label>
  </div>

  <div class="termos">
    <input type="checkbox">
    <span>Concordo com os termos</span>
  </div>

  <button type="submit" class="btn-criar" [ngClass]="{ 'btn-instrutor': isInstrutor }" [disabled]="form.invalid">
    Criar conta como {{ isInstrutor ? 'INSTRUTOR' : 'ALUNO' }}
  </button>
</form>
