<form [formGroup]="form" (ngSubmit)="onLogin()">

  <label>E-mail</label>
  <input type="email" formControlName="email" placeholder="nome@email.com" required>

  <label>Senha</label>
  <div class="input-icon">
    <input [type]="mostrarSenha ? 'text' : 'password'" formControlName="senha" placeholder="Insira sua senha" required>

    <button type="button" class="icon" (click)="toggleSenha()">
      {{ mostrarSenha ? '🙈' : '👁️' }}
    </button>
  </div>

  <span class="erro" *ngIf="mensagemErro">{{ mensagemErro }}</span>
  <button type="submit" class="btn-criar" [disabled]="form.invalid">
    Entrar na minha conta
  </button>

</form>