<form [formGroup]="form" (ngSubmit)="onLogin()">

  <label>E-mail</label>
  <input type="email" formControlName="email" placeholder="nome@email.com">

  <label>Senha</label>
  <div class="input-icon">
    <input
      [type]="mostrarSenha ? 'text' : 'password'"
      formControlName="senha"
      placeholder="Escolha uma senha segura"
    >

    <span class="icon" (click)="toggleSenha()">
      {{ mostrarSenha ? '🙈' : '👁️' }}
    </span>
  </div>

  <button type="submit" class="btn-criar" [disabled]="form.invalid">
    Entrar na minha conta
  </button>

</form>
