<footer class="footer">

  <div class="footer-container">

    <!-- COLUNA 1 -->
    <div class="footer-col">
      <p class="descricao">
        <img src="/icons/setaIcon.png" alt="Voltar para cima">
        Dirigir bem começa com o instrutor certo.
      </p>

      <p class="copy">
        Copyright <br>
        © 2026 Driveflow. Todos os direitos reservados.
      </p>
    </div>

    <!-- COLUNA 2 -->
    <div class="footer-col">
      <h4>Sobre a Plataforma</h4>
      <ul>
        <li>Motivo</li>
        <li>Passos</li>
        <li>Funcionalidades</li>
        <li>Vantagens</li>
      </ul>
    </div>

    <!-- COLUNA 3 -->
    <div class="footer-col">
      <h4>Para Instrutores</h4>
      <ul>
        <li>Como funciona</li>
        <li>Pagamento</li>
        <li>Validação</li>
        <li>Suporte</li>
      </ul>
    </div>

    <!-- COLUNA 4 -->
    <div class="footer-col">
      <h4>Central de Ajuda</h4>
      <ul>
        <li>FAQ</li>
        <li>Perguntas Frequentes</li>
        <li>Termos de Uso</li>
        <li>Política de Privacidade</li>
      </ul>
    </div>

    <!-- COLUNA 5 -->
    <div class="footer-col">
      <h4>Contato</h4>
      <ul class="social">
        <li><img src="/icons/instaIcon.png" alt=""> Instagram</li>
        <li><img src="/icons/faceIcon.png" alt=""> Facebook</li>
        <li><img src="/icons/youIcon.png" alt=""> Youtube</li>
      </ul>
    </div>

  </div>

</footer>