<header>
  <nav>
    <picture>
      <a routerLink="/">
        <img src="/logos-svg/logo_primary_white.svg" alt="Logo">
      </a>
    </picture>

    <ul>
      <li><a [routerLink]="['/']" fragment="pqExistimos">Porque existimos</a></li>
      <li><a [routerLink]="['/']" fragment="funcionalidades">Funcionalidades</a></li>
      <li><a [routerLink]="['/']" fragment="vantagens">Vantagens</a></li>
      <li><a [routerLink]="['/']" fragment="perFreq">Perguntas frequentes</a></li>
    </ul>

    <div class="ajusteBtns">
      <a routerLink="/login">Login</a>
      <a routerLink="/cadastro">Cadastro</a>
    </div>
  </nav>
</header>